.calculator{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 600px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    gap:30px;
    padding:25px;
}

button{
    border-radius: 100% ;
    width: 75px;
    height: 75px;
    font-size: 30px;
}

.screen{
    width: 100%;
    display:block;
}

.display{
    margin-left: auto;
    font-size: 40px;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.displayTwo{
    font-style: italic;
    font-size: 30px;
    margin-left: -3px;
    height:30px;
}
